{% extends "layout.html" %}
{% block title %}About | Tai{% endblock %}

{% block content %}
<section class="mb-5">
  <h2 class="text-info">About Me</h2>
  <p class="intro-text">I'm Taiye Babatunde, a Computer Engineering student at the University of Ilorin with a passion for backend development, cybersecurity, and automation.
     I’ve gained hands-on experience through personal projects, internships like HNG and collaborative work. My skills include Python, Flask, Django, PostgreSQL, Linux, and tools like Docker, Playwright.
      I’m constantly learning and diving deeper into Backend and DevOps while building innovative projects.</p>
  <a class="btn btn-outline-light" href="{{ url_for('download_file') }}" target="_blank"><i class="fas fa-download"></i> Resume</a>
</section>

<section class="mb-5">
  <h2 class="text-secondary">Skills</h2>
  <div class="mb-3">
    <label>Python</label>
    <div class="progress">
      <div class="progress-bar bg-info" style="width: 75%">75%</div>
    </div>
  </div>
  <div class="mb-3">
    <label>Flask</label>
    <div class="progress">
      <div class="progress-bar bg-warning" style="width: 73%">73%</div>
    </div>
  </div>
  <div class="mb-3">
    <label>Django</label>
    <div class="progress">
      <div class="progress-bar bg-success" style="width: 68%">68%</div>
    </div>
  </div>
  
  <div class="mb-3">
    <label>Linux / Terminal</label>
    <div class="progress">
      <div class="progress-bar bg-danger" style="width: 60%">60%</div>
    </div>
  </div>
  <div class="mt-3">
    <h5>Other Tools & Technologies</h5>
    <span class="badge me-1">Docker</span>
    <span class="badge me-1">Playwright</span>
    <span class="badge me-1">Git & GitHub</span>
  </div>
</section>
{% endblock %}