{% extends "layout.html" %}
{% block title %}Projects | Tai{% endblock %}

{% block content %}
<section class="mb-5">
  <h2 class="text-info">Projects</h2>
  <p class="intro-text">Check out my projects below! You'll find a selection of work that highlights my skills as a backend developer.</p>
  <div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title font-weight-bold text-info">{{ project.title }}</h5>
            <span class="badge bg-secondary rounded-pill">{{ project.date }}</span>
          </div>
          <p class="card-text mt-2">{{ project.description }}</p>
          <p class="text-warning"><em>{{ project.stack }}</em></p>
          <div class="d-flex flex-wrap">
            {% if project.code_url %}
            <a href="{{ project.code_url }}" class="btn btn-primary btn-sm me-2 mb-2" target="_blank" rel="noopener noreferrer">GitHub</a>
            {% endif %}
            {% if project.live_url != 'null' %}
            <a href="{{ project.live_url }}" class="btn btn-success btn-sm me-2 mb-2" target="_blank" rel="noopener noreferrer">Live Demo</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}